:root {
  font-family: "calibri", "Arial", "Helvetica";
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}
header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  width: 100%;
  background: #222;
  min-height: 7rem;
  justify-content: space-between;
}
.logo {
  margin: 0.5%;
  width: 17%;
}
.header-img {
  display: block;
  width: 8rem;
  margin-left: 10px;
}
.header-nav-bar {
  width: 42%;
  margin-right: 5rem;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar a {
  display: inline-block;
  font-weight: 550;
  font-size: 2rem;
  padding: 2rem;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
@media (max-width: 1000px) {
  header {
    flex-direction: column;
    background: rgba(9, 9, 9, 0.5);
  }
  .logo {
    margin: 0 auto;
  }
  .header-img {
    display: block;
    margin: 0 auto;
    width: 5rem;   
  }
  .header-nav-bar {
    width: 100%;
    margin: 0 auto;
  }
  .nav-bar {
   display: flex;
   flex-direction: column;
   alighn-items: center;
   justify-content: center;
   width: 100%;
   margin: 0 auto;
  }
  .nav-bar a {
    display: block;
    padding: 5px;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .howitworks {
    margin: 15rem auto 5rem auto;
    padding: 0px;
  }
  .video {
    max-width: 100%;
  }
}
.howitworks {
  margin: 20rem auto 7rem auto;
  width: 100%;
  border: 0 solid transparent;
  padding: 10px;
}
.video {
  display: block;
  margin: 0 auto;
}
.features-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  grid-gap: 2.5rem;
  margin: 7rem auto auto auto;
  padding: 2rem;
  width: 95%;
}
@media (max-width: 1000px) {
  .features-row {
    grid-gap: 20px;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
}
.feature-item {
  width: 100%;
  background: #222;
  border: 2rem solid #ddd;
  border-radius: 10px;
}
.feature-item img {
  width: 100%;
  margin: auto;
}
.feature-item p {
  font-size: 20px;
  color: #eee;
  text-align: center;
  margin: 1.5rem;
  padding: 0.8rem;
}
.pricing-row {
  display: grid;
  width: 87%;
  grid-template-columns: repeat(auto-fit, minmax(auto, 390px));
  grid-gap: 4rem;
  margin: 7rem auto 7rem auto;
  padding: 1.7rem;
}
@media (max-width: 1000px) {
  .pricing-row {
    width: 100%;
    justify-content: center;
    margin: 50px auto;
  }
  .pricing-text {
    width: 100%;
    margin: 0 auto;
  }
}
.pricing-item {
  width: 100%;
  background: lightgray;
  min-height: 30rem;
  border: 4px solid rgb(168, 0, 0);
  border-radius: 10px;
  margin: 0px 10px 0px 10px;
}
.topbar {
  font-size: 3rem;
  background: #eee;
  min-height: 6rem;
  margin: 0px auto 0px auto;
  width: 100%;
  padding: 10px 0;
}
.pricing-text {
  font-size: 3rem;
  text-decoration: none;
  text-align: center;
  width: 100%;
  font-weight: 600;
  color: #000;
}
h2 {
  font-size: 3rem;
}
ul li {
  text-align: left;
  font-size: 2rem;
  padding: 0 10px;
}
.form {
  width: 100%;
  margin: 7rem auto 0px auto;
  text-align: center;
  font-size: 2.5rem;
}
.form-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
input {
  font-size: 3rem;
  padding: 1.2rem;
  border: 0px solid gray;
}
.submit-btn {
  font-size: 3rem;
  padding: 1.2rem;
  color: white;
  background-color: rgb(214, 6, 6);
  border: 0px solid gray;
  text-transform: uppercase;
}
.submit-btn:hover {
  background-color: rgb(247, 5, 5);
}
@media (max-width: 1000px) {
  .form {
    font-size: 1.8rem;
  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
  }
  input {
    font-size: 1.8rem;
    width: 100%;
  }
  .submit-btn {
    width: 100%;
    font-size: 1.8rem;
    padding: 1.5rem 3.5rem;
  }
}
.footer {
  width: 100%;
  background: rgb(222, 222, 222);
  padding-top: 2rem;
  padding-right: 5rem;
  margin-top: 12rem;
  min-height: 7rem;
}
.footer ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer ul li {
  list-style-type: none;
  font-size: 1.5rem;
}
.footer ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
}
@media (max-width: 1000px) {
  .footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  }
}